body{
    font-family:Lato,sans-serif
}
div.tab{
    overflow:hidden;
    border:1px solid #ccc;
    background-color:#f1f1f1
}
.btn{
    border:none;
    outline:0;
    cursor:pointer;
    padding:8px 14px;
    transition:.3s;
    font-size:17px
}
.tablinks{
    background-color:inherit;
    float:left
}
.btn:hover{
    background-color:#ddd
}
.btn.active{
    background-color:#ccc
}
.topright,.topright2{
    float:right;
    cursor:pointer;
    font-size:20px
}
.tabcontent{
    display:none;
    padding:6px 12px;
    border:1px solid #ccc;
    border-top:none
}
.topright:hover{
    color:red;
}
.topright2:hover{
    color:#00f
}
input[type=text]{
    padding:10px;
    border:1px solid #dcdcdc;
    transition:box-shadow .3s,border .3s
}
input[type=text].focus,input[type=text]:focus{
    border:1px solid #707070;
    box-shadow:0 0 5px 1px #969696
}
